@keyframes Header {
  0% {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234cdbba'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  }
  50% {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23202020' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23333333'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  }
  100% {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234cdbba'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  }
}
.Div_Header_Style {
  height: 70px;
  background-color: #000000;
  display: flex;  
  animation: Header infinite 2s;
}
.Div_Logo_Style {
  width: 20%;
  margin: 15px;
  display: flex;
  align-items: center;
}
@keyframes Logo {
  0% {
    color: #4cdbba;
  }
  50% {
    color: whitesmoke;
  }
  100% {
    color: #4cdbba;
  }
}
.I_Logo_Style {
  color: #4cdbba;
  border: 1px solid #4cdbba;
  background-color: #151515;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  animation: Logo infinite 2s;
}
.P_Title_Style {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 10px;
}
@keyframes Start {
  0% {
    border: 1px solid #EE5A24;
  }
  50% {
    border: 1px solid #202020;
  }
  100% {
    border: 1px solid #EE5A24;
  }
}
.Div_Start_Style {
  height: 70;
  width: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Div_Start_Main_Style {
  width: 400px;
  height: 45px;
  border-radius: 5px;
  background-color: #151515;
  display: flex;
  align-items: center;
  animation: Start infinite 2s;
}
.Div_Start_Main_LogedIn_Style {
  animation: none;
  border: 1px solid #34495e;
}
.I_User_Style {
  color: #4cdbba;
  background-color: #151515;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
  margin-left: 2.5px;
}
.P_User_Style {
  width: 275px;
  color: whitesmoke;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}
.P_SignIn_Style,
.P_SignOut_Style,
.P_SignUp_Style {
  color: #4cdbba;
  padding: 10px;
  font-size: 14px;
  transition: 200ms;
}
.P_SignIn_Style:hover,
.P_SignOut_Style:hover,
.P_SignUp_Style:hover {
  color: whitesmoke;
  cursor: pointer;
}
.P_SignIn_Style:hover > .Span_SignInTooltip_Style,
.P_SignOut_Style:hover > .Span_SignOutTooltip_Style,
.P_SignUp_Style:hover > .Span_SignUpTooltip_Style{
    display: block;
    animation: FadeIn 500ms;
  }
.Span_SignInTooltip_Style, .Span_SignUpTooltip_Style, .Span_SignOutTooltip_Style{
    display: none;
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 31px;
    margin-left: -20px;
    color: #4cdbba;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    background-color: #202020;
}
.P_SignOut_Style{
  margin-left: 30px;
}
.Div_OnlineState_Style{
  width: 20%;
  justify-content: center;
  align-items: center;
  color: #4cdbba;
  display: none;
  animation: FadeIn 1s;
  animation: Logo infinite 2s;
}
.Div_Onlinetrue_Style{
  display: flex;
}
.P_Online_Style{
  font-family: "Scada", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;  
}
