.MyPannel_Div_MyPanel_CN{
    width: 22%;
    height: calc(100vh - 125px);
    margin-right: 25px;
    margin-left: auto;
    background-color: #282828;
    border-radius: 20px;
    animation: FadeIn 500ms;
}