@keyframes SignIn_Keyframes_Error {
  0% {
    box-shadow: 0px 0px 0px 1px #ee5a24;
  }
  50% {
    box-shadow: 0px 0px 0px 1px #202020;
  }
  100% {
    box-shadow: 0px 0px 0px 1px #ee5a24;
  }
}
@keyframes SignIn_Keyframes_ErrorMessage {
    0% {
        color: #d35400;
    }
    50% {
      color: #202020;
    }
    100% {
        color: #d35400;
    }
  }
.SignIn_Div_SignIn_CN {
  width: 450px;
  padding-bottom: 12px;
  margin: 30px auto;
  border-radius: 5px;
  border-top: 5px solid #00a693;
  font-family: "Scada", sans-serif;
  animation: FadeIn 200ms;
  background-color: #202020;
}
.SignIn_Div_SignInClose_CN{
  display: flex;
  justify-content: flex-end;
}
.SignIn_I_SignInCloseIcon_CN{
  color: #00a693;
  padding: 10px;
  transition: 200ms;
}
.SignIn_I_SignInCloseIcon_CN:hover{
  color: #d35400;
  cursor: pointer;
}
.SignIn_Div_SignInUser_CN {
  display: flex;
  justify-content: center;
}
.SignIn_I_SignInUserIcon_CN {
  height: 100px;
  padding-top: 40px;
  font-size: 100px;
  color: #00a693;
}
.SignIn_Div_UserName_CN,
.SignIn_Div_Password_CN,
.SignIn_Div_SignInButton_CN {
  width: 70%;
  height: 40px;
  margin: 40px 15% 10px 15%;
  background-color: #151515;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.SignIn_Div_Password_CN {
  margin: 10px 15%;
}
.SignIn_Input_UserName_CN,
.SignIn_Input_Password_CN {
  width: 75%;
  height: 35px;
  border: none;
  padding: 0px;
  margin: 0px;
  text-indent: 5px;
  background-color: #151515;
  color: whitesmoke;
  outline: none;
  letter-spacing: 1px;
}
.SignIn_I_EyeIcon_CN {
  margin-left: 5px;
  color: #00a693;
  transition: 200ms;
}
.SignIn_I_EyeIcon_CN:hover {
  color: whitesmoke;
  cursor: pointer;
}
.SignIn_Div_SignInButton_CN {
  width: 40%;
  margin: 20px 30% 0px 30%;
  font-family: "Scada", sans-serif;
  font-size: 14px;
  color: #00a693;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  transition: 200ms;
}
.SignIn_Div_SignInButton_CN:hover {
  color: #181818;
  background-color: #00a693;
  font-weight: bolder;
  cursor: pointer;  
}
.SignIn_I_SignInIcon_CN{
  font-size: 14px;
}
.SignIn_Div_ErrorMessage_CN {
  width: 80%;
  height: 10px;
  margin: 10px 10% 0px 10%;
  text-align: center;
  font-family: "Scada", sans-serif;
  font-size: small;
  display: none;
  animation: SignIn_Keyframes_ErrorMessage infinite 2s;
}
.SignIn_Div_SignUp_CN {
  color: #777777;
  font-family: "Scada", sans-serif;
  font-size: small;
  width: 50%;
  height: 40px;
  margin: 0px 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignIn_Div_SignUp_CN i {
  font-size: 12px;
}
.SignIn_I_SignUpIcon_CN {
  color: #00a693;
  padding: 10px;
  font-size: 14px;
  transition: 200ms;
}
.SignIn_I_SignUpIcon_CN:hover {
  color: whitesmoke;
  cursor: pointer;
}
.SignIn_Span_SignUpTooltip_CN{
  display: none;
  position: absolute;
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 31px;
  margin-left: -20px;
  color: #00a693;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: #202020;
}
.SignIn_I_SignUpIcon_CN:hover > .SignIn_Span_SignUpTooltip_CN{
  display: block;
  animation: FadeIn 500ms;
}
.SignIn_I_LockIcon_CN{
  color: #00a693;
  background-color: #151515;
  border-radius: 50px;
  font-size: 19px;
  padding: 10px;
  margin-left: 2.5px;
}
.SignIn_I_UserIcon_CN{
  color: #00a693;
  background-color: #151515;
  border-radius: 50px;
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
}
.SignIn_I_UserNameIcon_CN {
  color: #00a693;
  background-color: #151515;
  border-radius: 50px;
  font-size: 19px;
  padding: 10px;
  margin-left: 2.5px;
}