.SignUp_Div_SignUp_CN {
  width: 450px;
  padding-bottom: 12px;
  margin: 30px auto;
  border-radius: 5px;
  border-top: 5px solid #00a693;
  animation: FadeIn 200ms;
  background-color: #202020;
}
.SignUp_I_LockIcon_CN{
  color: #00a693;
  background-color: #151515;
  border-radius: 50px;
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
}
.SignUp_Div_PasswordValidState_CN,
.SignUp_Div_ReTypePasswordValidState_CN {
  width: 60%;
  height: 3px;
  border-radius: 2px;
  margin: 10px 20% 10px 20%;
  z-index: 0;
  display: flex;
  background-color: #333333;
}
.SignUp_Div_PoorPassword_CN,
.SignUp_Div_MediumPassword_CN,
.SignUp_Div_StrongPassword_CN,
.SignUp_Div_ReTypePoorPassword_CN,
.SignUp_Div_ReTypeMediumPassword_CN,
.SignUp_Div_ReTypeStrongPassword_CN
 {
  width: 33.333333%;
  animation: FadeIn 1s;
  height: 3px;
  z-index: 0;
}
.SignUp_Div_PoorPassword_CN,
.SignUp_Div_ReTypePoorPassword_CN {
  background-color: #ff5722;
  display: none;
}
.SignUp_Div_MediumPassword_CN,
.SignUp_Div_ReTypeMediumPassword_CN {
  background-color: #ffc107;
  display: none;
}
.SignUp_Div_StrongPassword_CN,
.SignUp_Div_ReTypeStrongPassword_CN {
  background-color: #32ff7e;
  display: none;
}
.SignUp_Div_CloseButton_CN{
  display: flex;
  justify-content: flex-end;
}
.SignUp_P_CloseButton_CN{
  color: #00a693;
  padding: 10px;
  transition: 200ms;
}
.SignUp_P_CloseButton_CN:hover{
  color: #d35400;
  cursor: pointer;
}
.SignUp_Div_UserIcon_CN {
  display: flex;
  justify-content: center;
}
.SignUp_I_UserIcon_CN {
  height: 100px;
  padding-top: 40px;
  font-size: 100px;
  color: #00a693;
}
.SignUp_Div_UserName_CN,
.SignUp_Div_Password_CN,
.SignUp_Div_SignUpButton_CN {
  width: 70%;
  height: 40px;
  margin: 40px 15% 10px 15%;
  background-color: #151515;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.SignUp_Div_Password_CN {
  margin: 10px 15%;
}
.SignUp_Input_UserName_CN,
.SignUp_Input_Password_CN {
  width: 75%;
  height: 35px;
  border: none;
  padding: 0px;
  margin: 0px;
  text-indent: 5px;
  background-color: #151515;
  color: whitesmoke;
  outline: none;
  letter-spacing: 1px;
}
.SignUp_I_UserNameIcon_CN {
  color: #00a693;
  background-color: #151515;
  border-radius: 50px;
  font-size: 19px;
  padding: 10px;
  margin-left: 2.5px;
}
.SignUp_I_EyeIcon_CN {
  margin-left: 5px;
  color: #00a693;
  transition: 200ms;
}
.SignUp_I_EyeIcon_CN:hover {
  color: whitesmoke;
  cursor: pointer;
}
.SignUp_Div_SignUpButton_CN {
  width: 40%;
  margin: 20px 30% 0px 30%;
  font-family: "Scada", sans-serif;
  font-size: 14px;
  color: #00a693;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  transition: 200ms;
}
.SignUp_Div_SignUpButton_CN:hover {
  color: #181818;
  background-color: #00a693;
  font-weight: bolder;
  cursor: pointer;  
}
.SignUp_I_SignInIcon_CN{
  color: #00a693;
  padding: 10px;
  font-size: 14px;
  transition: 200ms;
}
.SignUp_I_SignInIcon_CN:hover {
  color: whitesmoke;
  cursor: pointer;
}
.SignUp_Div_ErrorMessage_CN {
  width: 80%;
  height: 10px;
  margin: 10px 10% 0px 10%;
  text-align: center;
  font-family: "Scada", sans-serif;
  font-size: small;
  display: none;
  animation: errorMessage infinite 2s;
}
.SignUp_Div_SignInIcon_CN {
  color: #777777;
  font-family: "Scada", sans-serif;
  font-size: small;
  width: 50%;
  height: 40px;
  margin: 0px 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignUp_Div_SignInIcon_CN i {
  font-size: 12px;
}
.SignUp_Span_Tooltip_CN{
  display: none;
  position: absolute;
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 31px;
  margin-left: -20px;
  color: #00a693;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: #202020;
}
.SignUp_I_SignInIcon_CN:hover > .SignUp_Span_Tooltip_CN{
  display: block;
}
